@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    overflow-y: none;
}
body{
    background-color: #1B1306; 
    height:100vh;
    height:100vh;
}
/*

Cabeçalho

*/
header{
    background-color: black;
    height: 100px;
    Display: flex;
    Justify-content: center;

}
#conteudo_header{
    overflow: hidden;
    display: flex;             /* Usa flexbox */
    justify-content: space-between; /* Espalha as divs entre os extremos */
    align-items: center;  
    padding: 5px;
    width: 100vh;
}
header h1{
    color: white;
    font-size: 5vh;
    padding-right: 1vh;
    
}
header h1:hover{
    color: #FFD700;
    cursor: pointer;
}
header nav{
    width: 100vh;
    justify-content: space-between;
    padding-left: 2vh;
    
}
header a {
    color:white;
    text-decoration: none;
    padding: 2px;
    margin: 8px;
}
/*

Conteudo Principal

*/
main{
    padding: 0% 1%;
    margin: 0% 1%;
    background-color: #788170;
}
.intro{
    color: white;
    margin-top: 0%;
    display: flex;             /* Usa flexbox */
    justify-content: space-between; /* Espalha as divs entre os extremos */
    align-items: center;  
    text-align: center;
}
.intro h1{
    color:#17270C;
    margin-top: 20px;
    font-size: 35px;
}
.intro p{
    font-size: 20px;
}
