@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #1B1306;

}
/*

Cabeçalho

*/
header{
    background-color: black;
    height: 100px;
    Display: flex;
    Justify-content: center;

}
#conteudo_header{
    overflow: hidden;
    display: flex;             /* Usa flexbox */
    justify-content: space-between; /* Espalha as divs entre os extremos */
    align-items: center;  
    padding: 5px;
    width: 70vw;
}
header h1{
    color: white;
    font-size: 4vh;
    padding-right: 1vh;
    
}
header h1:hover{
    color: #FFD700;
    cursor: pointer;
}
header nav{
    width: 100vh;
    justify-content: space-between;
    padding-left: 2vh;
    
}
header a {
    font-size: 2vh;
    color:white;
    text-decoration: none;
    padding: 2px;
    margin: 8px;
}
/*

Conteudo Principal

*/
main{
    padding: 0% 1%;
    margin: 0% 1%;
    background-color: #788170;
}
/* Estilizando o container que engloba a imagem e o texto */
.container {
    overflow-x: hidden;
    display: flex; /* Layout flexível */
    justify-content: space-between; /* Espaço entre a imagem e o texto */
    align-items: center; /* Alinha os itens verticalmente no centro */
    flex-wrap: wrap; /* Permite que os itens "quebrem" para linhas abaixo em telas pequenas */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding no cálculo das dimensões */
}
/* Estilos do texto */
.loren {
width: 65%; /* O texto ocupa % da largura da tela */
padding: 20px;
text-align: center;
}
.loren h1{
    font-size: 4vh;
}
.loren p{
     font-size: 2vh;
}
/* Estilos da imagem */
.container img {
    width: 25%; /* A imagem ocupa % da largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}
/* Responsividade para telas menores */
@media (max-width: 768px) 
{
.container {
        flex-direction: column; /* Empilha a imagem e o texto em uma coluna */
        text-align: center; /* Centraliza o texto */
}
    .container img, .loren {
        width: 100%; /* Ambos ocupam 100% da largura da tela */
    }
}
